<ion-view title="Favoritos">
    <ion-content class="has-header padding">

        <div class="list card" ng-repeat="bus in favorites">
            <div class="item">
                <a href="#/tab/bus/{{bus.id}}"><h2>{{bus.nome}}</h2></a>

                <p>Sentido: <strong class="positive">{{bus.sentido}}</strong></p>

                <p>Próxima Partida:
                    <strong class="assertive">
                        <timer end-time="bus.proxima_partida">
                            {{hours}} horas,
                            {{minutes}} minutos,
                            {{seconds}} segundos.
                        </timer>
                    </strong>
                </p>

            </div>

            <div class="item item-body">
                <p>
                    <span ng-repeat="horario in bus.proximos_horarios"> <!-- verificar de onde vai pegar os horarios -->
                        <span class="subdued" ng-class="{assertive: $first}">{{horario}}</span>
                        <span ng-show=" ! $last "> , </span> <!-- not show on the last item -->
                    </span>
                </p>
            </div>
        </div>

        <!--
        <div class="list card">
            <div class="item">
                <h2>Putim 302 </h2>
                <p>Sentido: <strong class="positive">Bairro</strong></p>
                <p>Próxima Partida: <strong class="assertive">25 minutos</strong></p>
            </div>

            <div class="item item-body">
                <p>
                    <strong class="subdued assertive">22:30 ,</strong>
                    <span class="subdued">22:35 ,</span>
                    <span class="subdued">22:35 ,</span>
                    <span class="subdued">22:35 ,</span>
                    <span class="subdued">22:35</span>
                </p>
            </div>
        </div> -->


    </ion-content>
</ion-view>
