<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        >
    <name>MeuÔnibus</name>
    <description>
        Horários dos ônibus de São José dos Campos.
    </description>
    <author email="pauloluan.inova@gmail.com" href="http://transparenciasjc.org/">
        Equipe Transparência Hacker SJC
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
</widget>
