<ion-view title="Listagem">
    <ion-content class="has-header">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="search" placeholder="Pesquise pelo ônibus" ng-model="searchText">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>

        <ion-list>
            <ion-item ng-repeat="bus in buses | filter:searchText" type="item-text-wrap" href="#/tab/bus/{{bus.id}}">
                <p>
                    <small><strong>Nome:</strong>{{bus.nome}}</small>
                </p>
                <p>
                    <small><strong>Sentido: </strong>{{bus.sentido}}</small>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
